/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}



body {background:#F0EBDF;}



.main_wrapper{
width:1000px;
height:auto;
margin:auto;
background:#F0EBDF;
}

.header_wrapper{
width:1000px;
height:100px;
margin:auto;

}

#logo {float:left;}

#banner {float:right;}

.menubar {
width:1000px;
height:50px;
background:#000515;
color:#F0EBDF;
}

#menu {
padding:0;
margin:0;
line-height:45px;
float:left;
}

#menu li {
list-style:none;
display:inline;
}

#menu a {
text-decoration:none;
color:#F0EBDF;
padding:15px;
margin:5px;
font-size:18px;
font-family:"Product Sans";
}

#menu a:hover {color:#EA8859; font-weight:bolder;}

#form {float:right; padding-right:10px; line-height:45px;}

.content_wrapper {
width:1000px;
margin:auto;
background:#F0EBDF;

}
 
#content_area {
width:800px;
float:left;
background:#F0EBDF;
}

#sidebar {
width:200px;
background:#EA8859;
float:left;
}

#sidebar_title {
background:#252C3F;
color:#F0EBDF;	
font-size:22px;
font-family:"Product Sans"; 
padding:10px;
text-align:center;
}

#cats {
	text-align:left;
}

#cats li {list-style:none; margin:5px;}

#cats a {color:#F0EBDF; padding:10px; margin:5px; text-align:left; font-size:19px; text-decoration:none; font-family:"Product Sans";}

#cats a:hover {color:#252C3F; font-weight:bolder;}



#products_box {
width:780px; 
text-align:center;
margin-left:30px;
margin-bottom:10px; 
font-family: "Product Sans";
}

#single_product {float:left; margin-left:30px; padding:10px; font-family: "Product Sans";}
	
#single_product img {border:5px solid #252C3F;}
	
#shopping_cart {width:800px; height:47.5px; background:#252C3F; color:#F0EBDF; font-family: "Product Sans";}

#footer {
width:1000px;
height:100px;
background:#000515;
clear:both;
color:#F0EBDF;
font-family: "Product Sans";
}
















